:root {
    --colors-primary-default: #2e8fff;
    --colors-primary-050: #f5faff;
    --colors-primary-100: #fafcff;
    --colors-primary-200: #c7e1ff;
    --colors-primary-300: #94c6ff;
    --colors-primary-400: #61abff;
    --colors-primary-500: #2e8fff;
    --colors-primary-600: #0075fa;
    --colors-primary-700: #005dc7;
    --colors-primary-800: #004594;
    --colors-primary-900: #002d61;

    --colors-neutral-default: #393947;
    --colors-neutral-050: #f7f7f8;
    --colors-neutral-100: #e0e0e6;
    --colors-neutral-200: #b3b3c2;
    --colors-neutral-300: #85859d;
    --colors-neutral-400: #5d5d74;
    --colors-neutral-500: #393947;
    --colors-neutral-600: #292933;
    --colors-neutral-700: #19191f;
    --colors-neutral-800: #09090b;
    --colors-neutral-900: #020203;

    --colors-success-default: #01a25a;
    --colors-success-050: #bef8df;
    --colors-success-100: #71febf;
    --colors-success-200: #3efea8;
    --colors-success-300: #0bfe91;
    --colors-success-400: #01d576;
    --colors-success-500: #01a25a;
    --colors-success-600: #017e46;
    --colors-success-700: #005c32;
    --colors-success-800: #00381f;
    --colors-success-900: #00140b;

    --colors-danger-default: #a20901;
    --colors-danger-050: #fda9a5;
    --colors-danger-100: #fe7871;
    --colors-danger-200: #fe483e;
    --colors-danger-300: #fe180b;
    --colors-danger-400: #d50c01;
    --colors-danger-500: #a20901;
    --colors-danger-600: #7e0801;
    --colors-danger-700: #5c0500;
    --colors-danger-800: #380300;
    --colors-danger-900: #140100;
}
